.sidebar {
    position: fixed;

    top: 0;
    left: -350px;

    width: 350px;
    height: 100vh;

    background-color: #1e1e1e;
    color: white;

    padding: 80px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: left 0.3s ease;

    z-index: 1500;
}

.sidebar.open {
    left: 0;
}

.sidebar button {
    padding: 10px;

    border: none;

    background-color: #333;
    color: white;

    cursor: pointer;
}

.sidebar h1 {
    color: #d1d1d1;
}