.outline {
    position: fixed;

    top: 0;
    left: 0;

    width: 350px;
    height: 100vh;

    background-color: #1e1e1e;

    padding: 20px;

    z-index: 3000;

    overflow-y: auto;
}

.outline-header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.outline-header h2 {
    color: #cfcfcf;
    margin-left: 50px;
}

.close-outline {
    background: none;

    border: none;

    color: white;

    font-size: 20px;

    cursor: pointer;
}

.outline-form {
    display: flex;

    gap: 10px;

    margin-bottom: 20px;
}

.outline-form input {
    flex: 1;

    padding: 10px;

    background-color: #2a2a2a;

    border: none;

    color: white;
}

.outline-form button {
    padding: 10px;

    background-color: #333;

    border: none;

    color: white;

    cursor: pointer;
}

.chapter-item {
    background-color: #2a2a2a;

    padding: 12px;

    margin-bottom: 10px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.chapter-item.active {
    background-color: #3a3a3a;
}

.chapter-item span {
    color: white;
}

.delete-chapter {
    background: none;

    border: none;

    color: #999;

    cursor: pointer;
}

.delete-chapter:hover {
    color: white;
}